<span>A project by <a class="external-link" href="https://andyzwang.com">Andy Z. Wang</a>.</span>

<span id="theme-toggle" title="Toggle dark mode" aria-label="Toggle dark mode" role="switch" aria-checked="false">
  <div class="theme-toggle-slide"></div>
  <div class="theme-toggle-switch"></div>
</span>

<script>
  (function () {
    var bodyClassList = document.body.classList;
    var theme = localStorage.theme || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    bodyClassList.toggle('theme-dark', theme === 'dark');

    var darkModeToggle = document.getElementById('theme-toggle');

    function updateThemeState() {
      var isDarkMode = bodyClassList.contains('theme-dark');
      localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
      darkModeToggle.setAttribute('aria-checked', isDarkMode.toString());
    }

    function toggleTheme() {
      bodyClassList.toggle('theme-dark');
      updateThemeState();
    }

    darkModeToggle.addEventListener('click', toggleTheme);

    window.addEventListener('keydown', function (e) {
      if (!['INPUT', 'TEXTAREA'].includes(document.activeElement.tagName) && e.key.toLowerCase() === 'd' && !e.ctrlKey && !e.metaKey) {
        toggleTheme();
      }
    });

    darkModeToggle.setAttribute('aria-checked', bodyClassList.contains('theme-dark').toString());
  })();
</script>