@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: normal;
  src: local('IBM Plex Mono'), url('/assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: normal;
  src: local('Cardo Regular'), url('/assets/fonts/Cardo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-style: italic;
  font-weight: normal;
  src: local('Cardo Italic'), url('/assets/fonts/Cardo-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: bold;
  src: local('Cardo Bold'), url('/assets/fonts/Cardo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Inter Bold'), url('/assets/fonts/InterDisplay-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Semi-Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Inter Semi-Bold'), url('/assets/fonts/InterDisplay-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  src: local('Inter Regular'), url('/assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Inter Thin'), url('/assets/fonts/InterDisplay-Thin.woff2') format('woff2');
}
